.inputKeyPress__container {
  width: 100%;
  position: relative;
}

.inputKeyPress__filter {
  display: 'inline-block';
  width: 100%;
  margin-bottom: 1rem;
}

.inputKeyPress__button {
  position: absolute;
  top: 0;
  border-radius: 5px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 0px;
  height: 38px;
  width: 3rem;
  cursor: pointer;
  color: rgb(var(--white_color));;
  background-color: rgb(var(--palette_n9));
  transform: translateX(2px);
}
