.faIcon{
    display: inline-block;
    width: 100%;
}

.table_button{
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    height: 100%;
    margin-right: 0.2rem;
}

.table_button_red{
    background-color: rgb(255, 30, 0);
}

.table_button_green{
    background-color: rgb(var(--palette_n6));
}

.table_button_blue{
    background-color: rgb(55, 11, 212);
}

  